In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
datapath = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/'

In [3]:
list_data = os.listdir(datapath)

In [4]:
list_data

['prod_activations_logs.csv',
 'tm_sales_1.csv',
 'tm_sales_2.csv',
 'tm_sales_3.csv']

In [5]:
df_all = []
numb = 1
# new1_df = pd.DataFrame()
for data in list_data:
    full_path = datapath + data
    df = 'df_' + str(numb)
    numb +=1    
    df = pd.read_csv(full_path, encoding='utf-8', sep=';')
    df_all.append(df)
new1_df = pd.concat([df_all[1],df_all[2], df_all[3]])
new2_df = df_all[0] 

    
    
#     for namDN in os.listdir(data_name):
#             full_path = data_name + namDN + '/data.csv' 
#             df_2 = pd.read_csv(full_path, encoding='utf-8', sep=',')
#             df_2 = pd.concat([df_1, df_2])
#             df_2['name'] = namDN
#             df_2['date'] = data
#             new_df = pd.concat([new_df, df_2])

In [6]:
end_df = new1_df.dropna(subset=['SUBS_ID'])

In [7]:
def func_concat(ggg):
        if not str(ggg).startswith('id'): 
            return 'id' + str(ggg)
    
        return ggg

In [8]:
end_df['SUBS_ID'] = end_df['SUBS_ID'].apply(func_concat)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:

end_df

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1  id7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
2  id8362218          7     9879  05-03-2020 11:42
3  id2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [10]:
new2_df

     SUBS_ID  PROD_ID        START_DTTM          END_DTTM
1  id4651830     1954  20-03-2020 14:59  01-12-2020 00:00
5  id7646509     6431  19-03-2020 13:00  19-03-2020 13:03
2  id7461794     3310  20-03-2020 17:25  01-12-2020 00:00
3  id5416547     1743  17-03-2020 10:17  25-03-2020 11:00
4  id8238421     1859  01-03-2020 11:42  01-03-2020 11:43
3  id8641743     2752  20-03-2020 15:44  21-04-2020 15:44
2  id2185490     3210  16-03-2020 16:28  01-12-2020 00:00
6  id7642700     3020  15-03-2020 14:21  15-03-2020 23:42
2  id8741631     5677  19-03-2020 12:28  01-12-2020 00:00

In [11]:
common_df = end_df.merge(new2_df, how='inner', on=['SUBS_ID', 'PROD_ID'])

In [12]:
common_df

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM
0,id4651830,1,1954,20-03-2020 14:59,20-03-2020 14:59,01-12-2020 00:00
1,id7646509,5,6431,19-03-2020 13:00,19-03-2020 13:00,19-03-2020 13:03
2,id5416547,3,1743,17-03-2020 10:17,17-03-2020 10:17,25-03-2020 11:00
3,id2185490,2,3210,16-03-2020 16:28,16-03-2020 16:28,01-12-2020 00:00
4,id7642700,6,3020,15-03-2020 14:21,15-03-2020 14:21,15-03-2020 23:42

In [13]:
common_df['START_DTTM'] = pd.to_datetime(common_df['START_DTTM'], format='%d-%m-%Y %H:%M')

In [14]:
common_df['END_DTTM'] = pd.to_datetime(common_df['END_DTTM'], format='%d-%m-%Y  %H:%M')

In [15]:
common_df.dtypes

SUBS_ID               object
FILIAL_ID              int64
PROD_ID                int64
ACT_DTTM              object
START_DTTM    datetime64[ns]
END_DTTM      datetime64[ns]
dtype: object

In [16]:
common_df['minus_time'] =  common_df.END_DTTM - common_df.START_DTTM

In [17]:
common_df

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM,minus_time
0,id4651830,1,1954,20-03-2020 14:59,2020-03-20 14:59:00,2020-12-01 00:00:00,255 days 09:01:00
1,id7646509,5,6431,19-03-2020 13:00,2020-03-19 13:00:00,2020-03-19 13:03:00,0 days 00:03:00
2,id5416547,3,1743,17-03-2020 10:17,2020-03-17 10:17:00,2020-03-25 11:00:00,8 days 00:43:00
3,id2185490,2,3210,16-03-2020 16:28,2020-03-16 16:28:00,2020-12-01 00:00:00,259 days 07:32:00
4,id7642700,6,3020,15-03-2020 14:21,2020-03-15 14:21:00,2020-03-15 23:42:00,0 days 09:21:00

In [18]:
more_5_min = common_df.query('minus_time > "5m"')\
                        .sort_values('SUBS_ID')

In [19]:
more_5_min

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM,minus_time
3,id2185490,2,3210,16-03-2020 16:28,2020-03-16 16:28:00,2020-12-01 00:00:00,259 days 07:32:00
0,id4651830,1,1954,20-03-2020 14:59,2020-03-20 14:59:00,2020-12-01 00:00:00,255 days 09:01:00
2,id5416547,3,1743,17-03-2020 10:17,2020-03-17 10:17:00,2020-03-25 11:00:00,8 days 00:43:00
4,id7642700,6,3020,15-03-2020 14:21,2020-03-15 14:21:00,2020-03-15 23:42:00,0 days 09:21:00

In [20]:
lst_val  = more_5_min['SUBS_ID'].tolist()

In [21]:
lst_val

['id2185490', 'id4651830', 'id5416547', 'id7642700']

In [22]:
more_5_min = df.to_csv('more_5_min.csv')