# API (ВКонтакте, Google Documents, Яндекс.Метрика)

Работа с API имеет большое значение для аналитиков данных, поскольку она позволяет им получать доступ к различным источникам данных и автоматизировать процессы анализа.

API позволяют аналитикам данных получать доступ к большим объемам данных из различных источников, таких как социальные сети, поисковые системы, базы данных и другие веб-сервисы. Это позволяет аналитикам собирать и обрабатывать данные быстрее и эффективнее, чем если бы они делали это вручную.

Также работа с API позволяет не только взаимодействовать с различными источниками данных, но и создавать чат-ботов, а также передавать информацию напрямую из Jupyter-ноутбука в выбранные источники.

В этом уроке мы познакомимся с наиболее распространенными API: ВКонтакте, Google Documents, Яндекс.Метрика.

### Работа с API ВКонтакте

In [1]:
import pandas as pd
import datetime
import os
import sys


import matplotlib.pyplot as plt
import seaborn as sns

В данном блоке вы научитесь поключаться к API ВКонтакте и создавать чат-ботов, от имени которых можно автоматически отправлять сообщения в ВКонтакте, используя язык программирования Python.

**Подготовка автоматизации на сайте ВКонтакте:**

Для начала работы по созданию чат-бота необходимо совершить следующие подготовительные действия на стороне сервиса ВКонтакте:

* Перейти во вкладку `Сообщества` и выбрать опцию `Создать сообщество` (укажите цель, название, приватность и тематику)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_1.PNG)

* Перейти в сообщество и выбрать вкладку `Управление`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_2.png)
* В управлении сообществом необходимо выбрать вариант `Работа с API`
* Выбрать опцию `Создать ключ`, отметить галочкой все необходимые права для нового ключа доступа (проставьте все)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_3.png)
* Зайти в раздел `Сообщения` и выбрать `Сообщения cообщества: Включены`. Сохранить результат!
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_4.png)
* Во вкладке `Сообщения` перейти на вкладку `Настройки для бота`, выбрать `Возможности ботов:Включены` и поставить галочку напротив варианта `Разрешать добавлять сообщество в чаты`. Сохранить результат!
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_6_OR74ASx.jpg)
* Зайти в сообщество
* Выбрать `Разрешить сообщения` (находится на вкладке `Ещё`; если там стоит `Запретить сообщения`, то всё в порядке)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490773/vk_6.png)
* Нажать кнопку `Добавить в чат` и в меню `Приглашение сообщества в чат` выберите своего бота, нажав `Пригласить`. **Другой вариант:** Нажать кнопку `Добавить в чат`, выбрать беседу(чат), нажать `Пригласить`.

**Работа с Python**:

In [2]:
# Импорт необходимых библиотек:
# для работы с социальной сетью ВКонтакте
import vk_api
# для отправки HTTP-запросов к сервирам
import requests
# для работы с данными в формате JSON
import json
# для генерации случайных чисел
import random

В общем случае для идентификации в API используется специальный ключ доступа, который называется `access_token`.

**Ключ доступа** — это строка из цифр и латинских букв, которую вы передаёте на сервер вместе с запросом. Из этой строки сервер получает всю нужную ему информацию. Есть разные способы получения токена, более того, он может быть выдан не только пользователю, но и сообществу, и сразу всему приложению.

**Где найти ключ доступа (токен)?**

В интерфейсе настроек сообщества. Для этого достаточно открыть раздел `Управление`, выбрать вкладку `Работа с API`, где будут расположены созданные ключи доступа.

In [ ]:
# Задаём токен
token = 'your_token'

In [ ]:
# Создаем сессию VK API с использованием токена и получаем объект API для взаимодействия с методами API ВКонтакте
vk_session = vk_api.VkApi(token=token)
vk = vk_session.get_api()

**1. Отправка текстового сообщения**

In [ ]:
# Используем метод vk.messages.send
vk.messages.send(
    chat_id=1, # указание идентификатора чата, в который будет отправлено сообщение
    random_id=1, # указание случайного идентификатора сообщения
    message='Wake up, Neo ...' # текст самого сообщения)

0

**Работа с данными для последующей отправки документа в чат в ВКонтакте:**

In [ ]:
# Укажите ваш логин
student_login = 'your_login'

In [ ]:
df = pd.read_csv(f'/mnt/HC_Volume_18315164/home-jupyter/jupyter-{student_login}/shared/ads_data.csv.zip', compression='zip')

In [ ]:
df.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

In [ ]:
ad_data = df.groupby(['ad_id', 'event'], as_index = False) \
            .agg({'user_id': 'count'})
ad_data.head()

   ad_id  event  user_id
0      3  click        9
1      3   view      490
2   2132  click        1
3   2132   view       95
4   2276  click        2

In [ ]:
ad_data = ad_data.pivot(index='ad_id', columns='event', values='user_id').reset_index()
ad_data.head()

event  ad_id  click    view
0          3    9.0   490.0
1       2132    1.0    95.0
2       2276    2.0  1454.0
3       2475    NaN   132.0
4       2643    3.0   286.0

In [ ]:
# Считаем CTR
ad_data = ad_data.fillna(0).assign(ctr=ad_data.click / ad_data.view)
ad_data.head()

event  ad_id  click    view       ctr
0          3    9.0   490.0  0.018367
1       2132    1.0    95.0  0.010526
2       2276    2.0  1454.0  0.001376
3       2475    0.0   132.0       NaN
4       2643    3.0   286.0  0.010490

In [ ]:
# Отбираем нужный срез
top_ctr = ad_data.query('click > 20 & view > 100').sort_values('ctr').tail(10)

In [ ]:
# Итоговый датафрейм
top_ctr

event   ad_id     click       view       ctr
15      12904      32.0      399.0  0.080201
328    120347     236.0     2168.0  0.108856
5        4585      53.0      476.0  0.111345
96      35034     112.0      997.0  0.112337
194     45043      28.0      245.0  0.114286
207     45642      42.0      344.0  0.122093
144     40968      29.0      217.0  0.133641
125     38575      43.0      257.0  0.167315
324    119450     258.0     1254.0  0.205742
289    112583  580436.0  1934788.0  0.300000

In [ ]:
# Сохраняем в CSV-файл
top_ctr.to_csv('top_ctr_data.csv', index=False)

**2. Отправка документа сообщением в чат в ВКонтакте**

In [ ]:
# В переменную path задаём путь к файлу top_ctr_data.csv
path = 'your_path'
# В переменную file_name - имя файла
file_name = 'top_ctr_data.csv'

In [ ]:
# Присваиваем переменной path_to_file значения переменной path
path_to_file = path
# Получаем URL для загрузки файла в сообщения ВКонтакте для беседы с идентификатором 2000000001
upload_url = vk.docs.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
# Создаём словарь file с ключом 'file' и значением, содержащим имя файла и его содержимое в бинарном режиме
file = {'file': (file_name, open(path_to_file, 'rb'))}

In [ ]:
# Отправлем POST-запрос на URL для загрузки файла с использованием библиотеки requests
response = requests.post(upload_url, files=file)

In [ ]:
# Загружаем JSON-данные из текстового ответа на запрос — получаем по сути ссылку на файл
json_data = json.loads(response.text)

In [ ]:
# С помощью метода vk.docs.save сохраняем файл в документах ВКонтакте с указанным названием (title) и содержанием(file)
saved_file = vk.docs.save(file = json_data['file'], title = file_name)

In [ ]:
# Смотрим на данные
saved_file

In [ ]:
# Создаем вложение (attachment) для отправки документа сообщением в ВКонтакте
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [ ]:
# Отправляем сообщение с вложенным документом
vk.messages.send(
    chat_id=1,
    random_id=7,
    message='Топ объявлений по CTR',
    # Добавляем параметр attachment, который используется для прикрепления к сообщению медиа-вложений, таких как фотографии, видео, аудиозаписи и документы
    attachment=attachment
)

0

**3. Отправка фотографии сообщением в чат в ВКонтакте**

Для отправки фотографии из jupyter-ноутбука в чат в ВКонтакте, рекомендуем загрузить её в JupyterHub.

In [ ]:
# В переменную path задаём путь к фотографии
path = 'IMG_123.JPG'
# В переменную file_name - имя файла
file_name = 'IMG_123.JPG'

In [ ]:
# Присваиваем переменной path_to_file значения переменной path.
path_to_file = path
# Получаем URL для загрузки файла в сообщения ВКонтакте для беседы с идентификатором 2000000001
upload_url = vk.photos.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
# создание словаря file с ключом 'file' и значением, содержащим имя файла и его содержимое в бинарном режиме
file = {'file': (file_name, open(path_to_file, 'rb'))}

In [ ]:
# Отправлем POST-запрос на URL для загрузки файла с использованием библиотеки requests
response = requests.post(upload_url, files=file)

In [ ]:
# Загружаем JSON-данные из текстового ответа на запрос — получаем по сути ссылку на файл
json_data = json.loads(response.text)

In [ ]:
# Используем метод vk.photos.saveMessagesPhoto() для сохранения фотографии с указанными параметрами
saved_file = vk.photos.saveMessagesPhoto(photo = json_data['photo'], server = json_data['server'], hash = json_data['hash'])

In [ ]:
# Создаем вложение (attachment) для отправки фотограции сообщением в ВКонтакте
attachment_photo = f"photo{saved_file[0]['owner_id']}_{saved_file[0]['id']}"

In [ ]:
# Отправляем сообщение с вложенной фотографией
vk.messages.send(
    chat_id=1,
    random_id=10,
    message='Photo',
    attachment = attachment_photo
)

0

In [ ]:
# Отправка фото в чат ещё один способ

file_name = 'IMG_123.JPG'
# Созданием объект upload для загрузки фотографии в ВКонтакте
upload = vk_api.VkUpload(vk)
# Загрузка фотографии в сообщения ВКонтакте
photo = upload.photo_messages(file_name)
# Идентификатор владельца фотографии
owner_id = photo[0]['owner_id']
# Идентификатор фотографии
photo_id = photo[0]['id']
# Получение ключа доступа к фотографии из информации о загруженной фотографии
access_key = photo[0]['access_key']
# Создаем вложение (attachment) для отправки фотографии сообщением в ВКонтакте
attachment_photo_2 = f'photo{owner_id}_{photo_id}_{access_key}'

In [ ]:
vk.messages.send(
    chat_id=1,
    random_id=15,
    message='Photo №2',
    attachment = attachment_photo_2
)

0

### Работа с Google Documents API

Перейдите на сайт [Google Developer Console](https://console.cloud.google.com/apis/dashboard?project=magnetic-market-376318)

* Нажмите `Select a project`
![](https://ucarecdn.com/bd942d25-1c54-43e8-a269-87a1f64f785c/)
* Выберите `NEW PROJECT`
![](https://ucarecdn.com/1675c9fe-e6f6-462c-b266-4633639dd7b8/)
* Введите имя и нажмите `Create`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/image%20%281%29%20%281%29.png)
* Перейдите на вкладку `Enable Apps and Services`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB.PNG)
* Выберите из предложенных `Google Drive API` и `Google Sheets API` (они находятся ниже в списке) и для каждого из них нажмите `ENABLE` (нужно для их подключения). Для выбора следующего API, выберите `APIs & Services` слева, а затем перейти в `Library` (или просто нажмите в браузере на стрелку назад).
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/4.png)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB%200.PNG)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB%200.1.PNG)
* Снова нажмите  `APIs & Services` слева и перейдите во вкладку `Credentials`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_1.PNG)
* Нажмите `Create credentials` и выберите `Service account`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_2.jpg)
* Введите имя в окошке `Service account name` и нажмите `CREATE и CONTINUE` (**Service Account ID** — не трогаем, поскольку Google генерирует уникальный идентификатор для этого аккаунта самостоятельно)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_3.PNG)
* Во вкладке `Grant this service account access to project` выберите роль `Owner` и нажмите `Continue`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_4.PNG)
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_5.png)
* Нажмите `DONE`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_6.PNG)
* Нажмите на ссылку с названием почты, для которой создаётся ключ: она во вкладке `Credentials` в разделе `Service Accounts`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_7.png)
* Выберите вкладку `Keys` и нажмите `ADD KEY → Create new key`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_8.png)
* Выберите формат `json` и нажмите `CREATE`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/image%20%283%29.png)
* Сохраните созданный json файл и загрузите его в ваш jupyter-ноутбук в папку с кодом
* Откройте файл ключа в текстовом просмотрщике и скопируйте почту в разделе `client_email` (это действие можно выполнить через библиотеку json из питона)
*  Для проверки, что всё работает, откройте какую-нибудь таблицу в `Google Docs`, выберите `Настройки доступа`, введите скопированную почту в поле или выберите из списка, проверьте, что выбрана роль `Редактор`, и нажмите `Отправить`
![](https://storage.yandexcloud.net/klms-public/production/learning-content/457/4167/37262/103311/490774/%D0%B3%D1%83%D0%B3%D0%BB_9.PNG)

**Настройка доступов**

In [ ]:
# Импортируем необходимые библиотеки:

# gspread, которая предоставляет простой способ взаимодействия с Google Sheets с использованием Python
import gspread
# df2gspread предоставляет функциональность для загрузки данных из DataFrame в Google Sheets
from df2gspread import df2gspread as d2g
# ServiceAccountCredentials используется для аутентификации при доступе к Google Sheets с использованием учетных данных служебного аккаунта
from oauth2client.service_account import ServiceAccountCredentials

In [ ]:
# В этой строке определяется переменная scope, которая содержит список разрешений (permissions) для доступа к Google Sheets и Google Drive
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

# Переменная my_mail, которая содержит вашу личную электронную почту, к которой прикреплен Google-аккаунт
# Не путайте с сервисной почтой, указанной в json файле и на вкладе Credentials в разделе Service Accounts!
my_mail = 'your_mail'

# Авторизация — создаются учетные данные служебного аккаунта из JSON-файла с указанным списком разрешений scope
credentials = ServiceAccountCredentials.from_json_keyfile_name('you_file.json', scope)
gs = gspread.authorize(credentials)

**Загрузка таблицы из Google документов**

In [ ]:
# Название таблицы в Google Sheets, к которой вы хотите получить доступ
# Или можно ввести и id таблицы — часть ссылки на неё
table_name = 'to_sequence'
# Открываем таблицу с помощью метода gs.open
work_sheet = gs.open(table_name)

In [ ]:
# Выбираем первый лист (sheet) из открытой таблицы work_sheet
sheet1 = work_sheet.sheet1

# С помощью метода get_all_values() получаем данные с выбранного листа (sheet1) в формате списка Python
data = sheet1.get_all_values()

In [ ]:
data

[['price', 'group'], ['110', 'Group_1'], ['20', 'Group_2'], ['500', 'group_4']]

In [ ]:
# Получаем название колонок
headers = data.pop(0)

In [ ]:
headers

['price', 'group']

In [ ]:
# Конвертируем в датафрейм
df = pd.DataFrame(data, columns=headers)

In [ ]:
df

  price    group
0   110  Group_1
1    20  Group_2
2   500  group_4

In [ ]:
df.sort_values('price', ascending=False)

  price    group
2   500  group_4
1    20  Group_2
0   110  Group_1

In [ ]:
# Добавляем новые данные в таблицу Google Sheets на лист sheet1
sheet1.append_row([500, 'group_4'])

**Обратите внимание!**

Зачастую доступ к Google таблицам по их названию не срабатывает, чтобы решить эту проблему используйте **ID таблицы**.

Чтобы узнать **ID таблицы в Google Sheets**, воспользуйтесь следующими шагами:
1. Откройте Google Sheets в браузере и перейдите к нужной таблице.
2. URL из адресной строки браузера будет иметь примерно следующий формат:

`https://docs.google.com/spreadsheets/d/тут_идентификатор_таблицы/edit#gid=0`

Идентификатор таблицы находится между `/d/` и `/edit` в URL, скопируйте его.

In [ ]:
# Можно использовать и такой код
spreadsheet = gs.open('to_sequence')
spreadsheet_id = spreadsheet.id

In [ ]:
# ID таблицы в Google Sheets, к которой вы хотите получить доступ
table_name = 'id_таблицы_из_ссылки'
# Название листа (sheet) в таблице 'to_sequence', которая уже создана в Google Sheets и туда хотим записать данные
sheet_name = 'KarpovCourses2'
# Используем функцию upload для загрузки данных из DataFrame df в указанную таблицу и лист
d2g.upload(df, table_name, sheet_name, credentials=credentials, row_names=True)

**Создание своей таблицы**

In [ ]:
# Создаём пустую таблицу
table_name = 'New Table'
sheet = gs.create(table_name)

# Предоставляем доступ к конкретному листу (sheet) в Google Sheets другому пользователю
sheet.share(my_mail, perm_type='user', role='writer')

In [ ]:
# Создаем данные для двух колонок
data = {'Колонка1': [1, 2, 3, 4, 5],
        'Колонка2': ['А', 'Б', 'В', 'Г', 'Д']}
# Создаем DataFrame из данных
df = pd.DataFrame(data)

In [ ]:
df

   Колонка1 Колонка2
0         1        А
1         2        Б
2         3        В
3         4        Г
4         5        Д

In [ ]:
# Название листа (sheet) в Google Sheets, который уже создан там и доступ настроен, куда будет загружен датафрейм
sheet_name = 'Sheet1'
d2g.upload(df, table_name, sheet_name, credentials=credentials, row_names=True)

### Работа с API Яндекс.Метрики

In [ ]:
# Формируем URL для запроса к API Яндекс.Метрики с указанными параметрами
url = 'https://api-metrika.yandex.net/stat/v1/data?'
visits = 'metrics=ym:s:visits&dimensions=ym:s:date&id=44147844'

In [ ]:
vistis_url = url + visits

In [ ]:
# GET-запрос к API Яндекс.Метрики с использованием библиотеки requests в Python для получения данных о посещениях
vistis_request = requests.get(vistis_url)

In [ ]:
# Преобразуем текстовый ответ на запрос к API Яндекс.Метрики, содержащий данные о посещениях, в формат JSON
json_data = json.loads(vistis_request.text)

In [ ]:
# Смотрим на данные
json_data['data']

In [ ]:
# Формируем датафрейм
y_df = pd.DataFrame([(i['dimensions'][0]['name'],
i['metrics'][0]) for i in json_data['data']], columns=['date','visits'])

In [ ]:
# Отправляем данные в таблицу Google Sheets по ID таблицы
spreadsheet_name = 'id_таблицы_из_ссылки'
# Название листа, который уже создан в Google таблице, куда отправляем данные
sheet = 'Yandex_visits'
d2g.upload(y_df, spreadsheet_name, sheet, credentials=credentials, row_names=True)

### Дополнительный материал: создание Telegram-бота

**Получение токена**

Чтобы автоматизировать работу в телеграме необходимо создать бота и получить токен. Для этого:

1. В телеграме найдите [@Botfather](https://t.me/botfather)
2. Нажмите `start` (или напишите `/start`) в диалоговом окне — появится сообщение с информацией о создании ботов
3. Отправьте ему сообщение `/newbot` или выберите данную команду из списка предложенных
4. Введите имя для бота
5. Введите `username` бота, он должен заканчиваться на `bot`
6. Появится сообщение, содержащее `токен`, сохраните его!


[Перечень команд](https://core.telegram.org/bots#6-botfather) доступных для общения с Отцом всех ботов.

Ещё один вариант [инструкции](https://chatlabs.ru/botfather-instrukcziya-komandy-nastrojki/) для создания бота.

**Диалог с ботом**

1. Воспользуйтесь `username` бота (или ссылкой на него), полученным от `Botfather`, начните диалог(нажмите на `start`) и отправьте ему какое-нибудь сообщение. **Не пропустите этот шаг!**


2. Затем введите в браузере ссылку вида:

```python
https://api.telegram.org/bot{token}/getUpdates
```
Где вместо `<token>` будет ваш токен: в открывшемся окне вы увидите содержание json файла, где будет содержаться `id чата` (`result > 0 > chat > id`). Сохраните его.

**Обратите внимание:** фигурные скобочки в ссылке не нужны!

Например:

```python
Токен: 437597492FHFGJIJGRT-DSJCND
Ссылка в браузере: https://api.telegram.org/bot437597492FHFGJIJGRT-DSJCND/getUpdates
```

**Примечание!** Порой бывает, что использование такого метода приводит к пустому результату. В таком случае отправьте в телеграмме еще пару сообщений боту и обновите страницу в браузере. Также вы можете использовать в диалоге с ботом команду `@userinfobot`, которая позволит узнать основную информацию о боте, в том числе и `id чата`.

После этого вы можете посылать сообщения через бота с помощью модуля `request`.

Чтобы отправлять сообщения кому-нибудь другому, попросите его начать диалог с ботом, и повторите операцию с просмотром страницы, чтобы выяснить `id чата`.

**Отправка сообщений**

In [ ]:
import requests
import json
from urllib.parse import urlencode


token = 'your_token' # Вставьте ваш токен
chat_id = 123  # Укажите id-чата

message = 'test'  # Сообщение


# Создание словаря params с параметрами запроса, включая идентификатор чата и текст сообщения
params = {'chat_id': chat_id, 'text': message}

# Формирование базового URL для доступа к API Telegram с использованием вашего токена
base_url = f'https://api.telegram.org/bot{token}/'

# Формирование конечного URL для отправки сообщения в чат с использованием функции urlencode для кодирования параметров запроса
url = base_url + 'sendMessage?' + urlencode(params)

# Только если вам необходимо использовать прокси-сервер для отправки HTTP-запросов
# proxy = {'https': 'https://77.48.23.199:57842'}
# resp = requests.get(url, proxies=proxy)

# Отправка GET-запроса по сформированному URL
resp = requests.get(url)

**Отправка документов**

In [ ]:
# Путь к файлу
filepath = 'your_path'

# Формирование URL для отправки документа в чат с использованием функции urlencode для кодирования параметров запроса
url = base_url + 'sendDocument?' + urlencode(params)

# Создание словаря files, в котором ключом является 'document' (имя параметра, ожидаемого API Telegram для отправки документа), а значением - открытый файл для чтения в бинарном режиме
files = {'document': open(filepath, 'rb')}

# Отправка GET-запроса по сформированному URL для отправки документа в чат
resp = requests.get(url, files=files)

**Примечание:** Поместите файл для отправки в ту же папку, где расположен jupyter-ноутбук с кодом.