# Ноутбук к уроку 2. Первые аналитические задачи

Импортируем библиотеку `pandas` и модуль `datetime` из библиотеки `datetime`

In [1]:
import pandas as pd
from datetime import datetime

Прочитаем датасет с данными о продажах курсов и сохраним его в переменную `df`

In [2]:
df = pd.read_csv('lesson_2_data.csv',
                 encoding='windows-1251', sep=';')

Посмотрим на первые 5 строк датафрейма

In [3]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

Посмотрим на последние 5 строк датафрейма

In [4]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

Узнаем размер датафрейма

In [5]:
df.shape

(292, 8)

Проверим типы данных в столбцах

In [6]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

Выведем статистические показатели

In [7]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

Посмотрим на названия колонок датафрейма

In [8]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

Переименуем колонки

In [9]:
df = df.rename(columns={'Номер': 'number',
               'Дата создания': 'create_date',
               'Дата оплаты': 'payment_date',
               'Title': 'tittle',
               'Статус': 'status',
               'Заработано': 'money',
               'Город': 'city',
               'Платежная система': 'payment_system'})

Посмотрим на датафрейм с переименованными колонками

In [10]:
df.head()

,number,create_date,payment_date,tittle,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

Выведем первые строки только 2 колонок: `tittle` и `status`

In [11]:
df[['tittle', 'status']].head()

                        tittle    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

Посчитаем общую сумму денег

In [12]:
all_money = df.money.sum()

In [13]:
all_money

992103.5900000001

Посчитаем, сколько денег принес каждый курс в каждом городе, отфильтровав по убыванию суммы

In [14]:
money_by_city = df \
    .groupby(['tittle', 'city'], as_index=False) \
    .aggregate({'money': 'sum'}) \
    .sort_values('money', ascending=False)
money_by_city

,tittle,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

Сохраним датафрейм в csv файл

In [15]:
money_by_city.to_csv('money_by_city.csv', index=False)

Для каждого завершенного курса посчитаем сумму денег и количество заказов

In [16]:
money_title = df \
    .query("status == 'Завершен'") \
    .groupby(['tittle'], as_index=False) \
    .aggregate({'money': 'sum', 'number': 'count'}) \
    .sort_values('money', ascending=False) \
    .rename(columns={'number': 'success_orders'})
money_title

,tittle,money,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

Создадим строку с названием файла и сегодняшней датой

In [17]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_title_{}.csv'
file_name = file_name.format(today_day)
file_name

'money_title_2024-05-16.csv'

Если мы верно посчитали сумму денег, сохраним датафрейм в csv, если нет — напечатаем сообщение об ошибке

In [18]:
if int(money_title.money.sum()) == int(all_money):
    print('OK! File {} is written.'.format(file_name))
    money_title.to_csv(file_name, index=False)
else:
    print('ERROR!')

OK! File money_title_2024-05-16.csv is written.

Напишем свою функцию для создания отчета, которая объединяет предыдущие действия

In [19]:
def send_product_report(file_path):
    df = pd.read_csv(file_path,
                 encoding='windows-1251', sep=';')

    df = df.rename(columns={'Номер': 'number',
                   'Дата создания': 'create_date',
                   'Дата оплаты': 'payment_date',
                   'Title': 'tittle',
                   'Статус': 'status',
                   'Заработано': 'money',
                   'Город': 'city',
                   'Платежная система': 'payment_system'})

    all_money = df.money.sum()

    money_title = df \
        .query("status == 'Завершен'") \
        .groupby(['tittle'], as_index=False) \
        .aggregate({'money': 'sum', 'number': 'count'}) \
        .sort_values('money', ascending=False) \
        .rename(columns={'number': 'success_orders'})

    today_day = datetime.today().strftime('%Y-%m-%d')
    file_name = 'money_title_{}.csv'
    file_name = file_name.format(today_day)

    if int(money_title.money.sum()) == int(all_money):
        print('OK! File {} is written.'.format(file_name))
        money_title.to_csv(file_name, index=False)
    else:
        print('ERROR!')

    return money_title

Сохраним путь к файлу в переменную `file_path`

In [20]:
file_path = 'lesson_2_data.csv'

Запустим нашу функцию, передав в неё путь к файлу. Результат выполнения функции сохраним в переменную `df_money_title`

In [21]:
df_money_title = send_product_report(file_path)
df_money_title

OK! File money_title_2024-05-16.csv is written.

,tittle,money,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3