In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import chi2_contingency, chi2 
import seaborn as sns
import matplotlib.pyplot as plt
import pingouin as pg

In [8]:
#   Существуют несколько DataFrame с предобработкой находящиеся в домашней дирректории

groups = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/Проект_2_groups.csv', sep=" ")
checks = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/Проект_2_checks.csv')
active_studs = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/Проект_2_active_studs.csv')

groups = groups.rename(columns={"id;grp": "idgrp"})
groups[['id','grp']] = groups.idgrp.str.split(";",expand=True)
groups.drop('idgrp', axis= 1 , inplace= True )
groups = groups.rename(columns={'id': "student_id"})

checks.columns
checks = checks.rename(columns={'student_id;"rev"': "student_idrev"})
checks[['student_id','rev']] = checks.student_idrev.str.split(";",expand=True)
checks.drop('student_idrev', axis= 1 , inplace= True ) 
checks['student_id'] = checks['student_id'].astype(int)
checks_active_studs = active_studs.merge(checks, how='left', on='student_id')
checks_active_studs = checks_active_studs.fillna(0)
checks_active_studs['rev'] = checks_active_studs['rev'].astype(float)


#

      student_id    rev
0         581585    0.0
1        5723133    0.0
2        3276743    0.0
3        4238589    0.0
4        4475369    0.0
...          ...    ...
8336     1794344    0.0
8337      296883    0.0
8338     3598448    0.0
8339     3610547  290.0
8340      205705    0.0

[8341 rows x 2 columns]

In [3]:
# все активные студенты 8341
all_checks_active_studs = checks_active_studs.shape[0]
all_checks_active_studs

8341

In [4]:
# оплата чере плтформу 392
# checks_active_studs = active_studs.merge(checks, how='inner', on='student_id')
# all_checks_platform = checks_active_studs.shape[0]
# all_checks_platform

In [5]:
#  оплативших всего 541

# checks_active_studs = active_studs.merge(checks, how='right', on='student_id')
# all_checks = checks_active_studs.shape[0]
# all_checks

In [92]:

file_name = 'group_add.csv'
def add_file(file_name ):
    home_directory = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/'

    group_add = pd.read_csv(home_directory+file_name)
    group_add = group_add.rename(columns={'id': "student_id"})
    group_add['student_id'] = group_add['student_id'].astype(int)
    
    all_group = pd.concat([groups,group_add])
    all_group['student_id'] = all_group['student_id'].astype(int)
#     all_group['grp'] = all_group['grp'].astype(float)
    
    
#     все студенты участвующие 74576_______________________________________________________________________
    all_users = all_group.shape[0]

#     сводная таблица по всем пользователям
    checks_active_studs_all_group1 = all_group.merge(checks_active_studs, how='left', on='student_id')
    checks_active_studs_all_group1 = checks_active_studs_all_group1.fillna(0)
    checks_active_studs_all_group1['rev'] = checks_active_studs_all_group1['rev'].astype(float)
    checks_active_studs_all_group1['student_id'] = checks_active_studs_all_group1['student_id'].astype(int)
    
    
    # все студенты группы А ________________________________________________________________________________   
    all_users_A = checks_active_studs_all_group1.query('grp == "A"').agg({'rev' : 'count'})
    
    # все студенты группы B ________________________________________________________________________________   
    all_users_B = checks_active_studs_all_group1.query('grp == "B"').agg({'rev' : 'count'})  
    

    
    
    
    
    
#     # получаем всех купивших активных пользователей зашедших на платформу
    checks_active_studs_all_group2 = all_group.merge(checks_active_studs, how='inner', on='student_id')
    
    
#     # все активные студенты 8341_________________________________________________________________
    all_checks_active_studs = checks_active_studs_all_group2.shape[0]
    
#     Все активные студенты группы А ________________________________________________________________________________    
    all_active_users_A = checks_active_studs_all_group2.query('grp == "A"').agg({'rev' : 'count'}) 
    
    
    #     Все активные студенты группы B ________________________________________________________________________________    
    all_active_users_B = checks_active_studs_all_group2.query('grp == "B"').agg({'rev' : 'count'}) 
    
    
    
#     Всего купили и на платформе и вне ее 541___________________________________________________________
    checks_active_studs_all_group3 = checks_active_studs_all_group1.merge(checks, how='right', on='student_id')
    checks_active_studs_all_group3 = checks_active_studs_all_group3.rename(columns={"rev_x": "rev"})
    checks_active_studs_all_group3.drop('rev_y', axis= 1 , inplace= True )
    all_checks = checks_active_studs_all_group3.shape[0]
    
#     Все купившие студенты группы А ________________________________________________________________________________    
    all_checks_users_A = checks_active_studs_all_group3.query('grp == "A"').agg({'rev' : 'count'}) 
    
    
    #     Все купившие студенты группы B ________________________________________________________________________________    
    all_checks_users_B = checks_active_studs_all_group3.query('grp == "B"').agg({'rev' : 'count'})
    
    
    
    
#     Всего активные и купили на платформе 392______________________________________________________
    checks_active_studs_all_group4 =checks_active_studs_all_group2.query('rev != 0')
    all_checks_active_by_groups = checks_active_studs_all_group2.query('rev != 0').shape[0]
    
    
#      Все купившие студенты группы А ________________________________________________________________________________    
    all_active_checks_users_A = checks_active_studs_all_group4.query('grp == "A"').agg({'rev' : 'count'}) 
    
    
    #     Все купившие студенты группы B ________________________________________________________________________________    
    all_active_checks_users_B = checks_active_studs_all_group4.query('grp == "B"').agg({'rev' : 'count'})
# 
     
    
#     общий доход по всем покупкам по группам___________________________________________________________
    total_rev = checks_active_studs_all_group3['rev'].sum()
    all_revenue_A =checks_active_studs_all_group3.query('grp == "A"').agg({'rev' : 'sum'})
    all_revenue_B =checks_active_studs_all_group3.query('grp == "B"').agg({'rev' : 'sum'})
    
    
    
    
    #     общий доход по активным покупкам по группам___________________________________________________________
    total_active_rev = checks_active_studs_all_group4['rev'].sum()
    all_active_revenue_A =checks_active_studs_all_group4.query('grp == "A"').agg({'rev' : 'sum'})
    all_active_revenue_B =checks_active_studs_all_group4.query('grp == "B"').agg({'rev' : 'sum'})
    
    
    
    
    return all_active_revenue_A



add_file(file_name)

rev    72820.0
dtype: float64