In [ ]:
SELECT
    AVG(TotalPrice),
    Country
FROM (
    SELECT
    InvoiceNo,
    Country,
    sum(UnitPrice * Quantity) as TotalPrice 
    FROM default.retail
    WHERE Quantity >0
    GROUP BY Country,InvoiceNo
)
GROUP BY Country

In [ ]:
select 
    sku,
    dates,
    avg(price) as price,
    count(1) as qty
from transactions
group by sku, dates
order by dates

In [ ]:
SELECT exp_group, os, COUNT(id) AS total_users, MAX(age) AS max_age, MIN(age) AS min_age
FROM "user" 
GROUP BY exp_group, os


SELECT text, COUNT(text)
FROM post

In [ ]:
SELECT
    region,
    date,
    type,
    total_volume,
    total_volume - LAG(total_volume,1) OVER w AS week_diff     
FROM 
    avocado
WHERE region = 'NewYork' AND year = '2018'
WINDOW w AS
    (
    PARTITION BY type
    
    )
ORDER BY
    date ASC

In [ ]:
SELECT
    region,
    date,
    total_volume,
    total_volume - LAG(total_volume,1) OVER w AS week_diff     
FROM 
    avocado
WHERE region = 'NewYork' AND type = 'conventional'
WINDOW w AS
    ()
ORDER BY
    region desc,
    date ASC

In [ ]:
SELECT
    region,
    date,
    year,
    total_volume,
    SUM(total_volume) OVER w AS volume
FROM 
    avocado
WHERE region IN ('NewYork', 'LosAngeles') AND type = 'organic'
WINDOW w AS
    (
    PARTITION BY region, year
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    )
ORDER BY
    region desc,
    date ASC

In [ ]:
SELECT
    region,
    date,
    total_volume,
    SUM(total_volume) OVER w AS volume
FROM 
    avocado
WHERE region IN ('NewYork', 'LosAngeles') AND type = 'organic' AND date = '01/03/15'
WINDOW w AS
    (
    PARTITION BY region
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    )
ORDER BY
    region desc,
    date ASC

In [ ]:
SELECT
    AVG(SUM_Quantity),
    Country 
FROM
    (
    SELECT
        SUM(Quantity) AS SUM_Quantity,
        Country,
        InvoiceNo   
    FROM default.retail
    GROUP BY Country,InvoiceNo  
    )
WHERE Country = 'Canada'
GROUP BY Country

In [ ]:
SELECT
    AVG(TotalPrice),
    Country,
    toStartOfMonth('InvoiceDate') AS month
FROM (
    SELECT
    InvoiceNo,
    Country,
    sum(UnitPrice * Quantity) as TotalPrice 
    FROM default.retail
    WHERE Quantity >0
    GROUP BY Country,InvoiceNo
)
WHERE Country IN ('United Kingdom', 'Germany', 'France', 'Spain', 'Netherlands', 'Belgium', 'Switzerland', 'Portugal', 'Australia', 'USA')
GROUP BY Country

In [ ]:
SELECT
    AVG(TotalPrice),
    Country
FROM (
    SELECT
    InvoiceNo,
    Country,
    sum(UnitPrice * Quantity) as TotalPrice 
    FROM default.retail
    WHERE Quantity >0
    GROUP BY Country,InvoiceNo
)
GROUP BY Country

In [ ]:
SELECT 
Country,
toStartOfMonth(InvoiceDate) AS Month,
COUNT(DISTINCT CustomerID) as UniqueCustomer 
FROM default.retail
WHERE Country != 'United Kingdom'
GROUP BY Country,Month

In [ ]:
SELECT 
Country,
toStartOfMonth(InvoiceDate) AS Month,
COUNT(DISTINCT CustomerID) as UniqueCustomer 
FROM default.retail
WHERE Country IN ('United Kingdom', 'Netherlands', 'Australia')
GROUP BY Country,Month

In [ ]:
SELECT 
Country,
COUNT(DISTINCT CustomerID) 
FROM default.retail
GROUP BY Country

In [ ]:
CREATE TABLE IF NOT EXISTS test.retail(
InvoiceNo String,
StockCode String,
Description String,
Quantity Int32,
InvoiceDate DateTime('Europe/London'),
UnitPrice Decimal64(3),
CustomerID UInt32,
Country String
)
ENGINE = MergeTree
ORDER BY(InvoiceDate, CustomerID)