In [ ]:
# 1

SELECT
        st_id,
        COUNT(correct)
    FROM default.peas
        
    WHERE correct = '1' 
    
    GROUP BY st_id
    
    LIMIT 100

In [ ]:
# подзапрос получение count
SELECT
        count(st_id)
        
   
 FROM
    (SELECT
        st_id,
        COUNT(correct)
    FROM default.peas
        
    WHERE correct = 1
    
    GROUP BY st_id)
    

 
 LIMIT 100

In [ ]:
#                                              JOIN
SELECT
        peas.st_id,
        peas.timest,
        peas.correct,
        peas.subject,
        studs.test_grp
        
    FROM 
    default.peas AS peas
    JOIN default.studs AS studs
            ON peas.st_id = studs.st_id
        
    
    
LIMIT 100

In [ ]:
#                          просто JOIN  = INNER

In [ ]:
#                                      JOIN 2-х таблиц + ПОДЗАПРОСЫ
SELECT
        left. ....
        left. .......
        right. ...
        right. ...
        
    FROM 
        (
         SELECT
            peas. ...,
            peas. ...


         FROM 
            default.peas
        ) AS left
        
           JOIN 
            
        (SELECT
            peas. ...
            peas. ...


        FROM 
        default.peas
        ) AS right
            ON left. ..ID = right. ..ID  AND left. ..Source = right. ..Source

    
    
LIMIT 100

In [ ]:
#                                      JOIN 3-х таблиц + ПОДЗАПРОСЫ
SELECT
        a. ....
        a. .......
        b. ...
        c. ...
        
    FROM instals AS a
    JOIN deviceID AS b
            ON a.deviceID = b.deviceID
    JOIN 
        (
            SELECT
               UserID,
               SUM(Rub) AS sum_rub
            FROM checks
            GROUP BY UserID
        ) AS c
            ON b. ... = c. ... - (таблицы берутся в зависимоти от столбцов)
       

    
    
LIMIT 100

In [ ]:
#                                                         DATE   Date ⧸ Datetime ⧸ Datediff ⧸ Округление дат

In [ ]:
#            сколько дней прошло с 1-го сентября до сегодняшней даты
SELECT
        dateDiff(day, now( ), CAST('2024-09-01 00:00:00' AS DAte )) AS date_test

In [ ]:
#   извлечение номера месяца

SELECT
        toMonth(now( ) ) AS date_test

In [ ]:
#                                          округление даты

In [ ]:
#                                         от начала месяца
SELECT
        toStartOfMonth(now( ) ) AS date_test

In [ ]:
SELECT
    BuyDate,
    groupArray(UserId) AS all_users  - группировка данных в Group By(при группировке собрать все значения, которы попали в эту самую группировку)
FROM check
WHERE Rub >1000
Group By BuyDate

In [ ]:
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 1
#                                                  просто горошин
SELECT 
        toStartOfMonth(now( ) ) AS date_StartOfMonth,
        correct,
        st_id,
        count(st_id) as pea

FROM 
    default.peas

WHERE correct = 1

GROUP BY st_id,correct

HAVING pea >= 20
        
      
        
        
 LIMIT 150 

#                                  горошин по предметам

SELECT 
        toStartOfMonth(now( ) ) AS date_StartOfMonth,
        correct,
        st_id,
        count(st_id) as pea,
        subject

FROM 
    default.peas

WHERE correct = 1

GROUP BY st_id,correct,subject

HAVING pea >= 20
        
      
        
        
 LIMIT 150

In [ ]:
#  +++++++++++++++++++++++++++++++++++++++Первая проба++++++++++++++++++++++++++++++++++++++++++++++++
SELECT
            
            peas.st_id as user_id,
            -- peas.timest,
            peas.correct as correct,
            -- peas.subject,
            studs.test_grp as group,
            check_all.sale_time as sale_time,
            check_all.money as price,
            check_all.subject as subject
            
        FROM default.peas AS peas 
        LEFT JOIN default.studs AS studs
                        ON peas.st_id = studs.st_id
        JOIN (
         
                SELECT
            studs.st_id,
            check.sale_time,
            check.money,
            check.subject 
            
            
        FROM default.studs AS studs 
        INNER JOIN default.final_project_check AS check
                        ON studs.st_id = check.st_id
        
        
                ) as check_all
                ON check_all.st_id = peas.st_id
                        
LIMIT 100




-- count(peas.st_id)
-- count(DISTINCT peas.st_id)

In [ ]:
# +++++++++++++++++++++++++++++     ARPU  +++++++++++++++++++++++++++++++++++

SELECT
        sum(check.money)/count(DISTINCT studs.st_id) AS ARPU
        
    FROM default.final_project_check as check    
    RIGHT JOIN default.studs AS studs
    
            ON check.st_id = studs.st_id

In [ ]:
# +++++++++++++++++++++++++++                All_stud  + 48_check
SELECT 
                    
                    count(DISTINCT studs.st_id) as students,
                    count(DISTINCT check.st_id) as checks,
                    
                    
                    
                FROM default.studs AS studs 
                LEFT JOIN default.final_project_check AS check 
                                ON studs.st_id = check.st_id

In [ ]:
# ++++++++++++++++++++++++++++++++         Allchecks61_summa
SELECT 
                    
                
                    count(check.st_id) as all_checks,
                    sum(check.money) as summa_checks
                    
                FROM default.studs AS studs 
                RIGHT JOIN default.final_project_check AS check 
                                ON studs.st_id = check.st_id

In [ ]:
# +++++++++++++++++++++++++++++++++++++++++   223_Active_studs
SELECT 
                    
                    count(studs.st_id) as active_studs,
                    studs.st_id
                    
                    
                    
                FROM default.peas AS peas 
                LEFT JOIN default.studs AS studs 
                                ON peas.st_id = studs.st_id
                WHERE correct = 1
                
                
                GROUP BY studs.st_id
                HAVING active_studs > 10

In [ ]:
# +++++++++++++++++++++++++++++++++++++++         ALL_check_MAth_active
SELECT 
                    
                count(st_id) as all_check_math,
                studs.st_id
                    
                    
               FROM default.peas AS peas 
                LEFT JOIN default.studs AS studs 
                                ON peas.st_id = studs.st_id
                WHERE  subject = 'Math' and correct = 1
               
                
                
                GROUP BY studs.st_id
                HAVING all_check_math > 2
LIMIT 310

In [ ]:
# +++++++++++++++++++++++++++++++++                ALL_ Math
SELECT 
                    
                count(peas.st_id) as actives
                    
                    
                FROM default.peas AS peas 
                
                WHERE  subject = 'Math' and correct = 1
                
                 
LIMIT 100

In [ ]:
# ++++++++++++++++++++++++++++++++++++++ ALL_check_Math
SELECT 
                   
                   
                count(check.st_id) as all_check_math
                    
                    
                FROM default.final_project_check AS check 
                
                
                WHERE  subject = 'Math'
                
                 
LIMIT 100

In [ ]:
# ++++++++++++++++++++++++++++++++++++++++++++++++++   308 было на платформе
SELECT 
                    
                    count(DISTINCT studs.st_id) as active_studs
                    
                    
                    
                FROM default.peas AS peas 
                LEFT JOIN default.studs AS studs 
                                ON peas.st_id = studs.st_id

In [ ]:
# -- WHERE correct = '1' and timest = ...
# -- WHERE correct = '1' or timest = ...
# -- WHERE (correct = '1' and timest = ... ) or (correct = '0' or timest = ...)
# -- -- WHERE correct = '1'  timest = '2021-11-30'
# select distinct column1, column2 (все столбцы distinct)
# select  column +3
# unique(Distinct column) == uniqExact(column) - уникальные без повторов
# uniq(column) -приблизительно считает
#  USING(column) = ON   если столбцы называются одинаково(в множеств-х JOIN-ах не использ-ся)
#  select DISTINCT column
# ALL JOIN - по умолчанию включено декартово произведение(может собрать все данные - декартово произведение)
# ANY JOIN - возмет (первое значение ,которое было встречено)
# int(от - до +)       uint(от 0 до ....)
# toTypeName(...)  - проверка типа
#  NaN - то есть not a number(не число)
# yesterday() - вчерашний день в Datetime


# CAST(123 AS UInt64) - преобразование типов 123 в UInt64. В ClickHouse есть ф-ции типа toUInt64 и тд
# toUInt64OrZero(OrZero)  или toUInt64OrNull(OrNull) если невозможно преобразовать то соответственно zero(0) или null
# coalesce(toUInt64OrNull('text') , 999)  - coalesce увидит null и преобразует его в 999
# coalesce(toUInt64OrZero('text') , 999)  - coalesce увидит 0 и преобразует его в 999

# SELECT
#     BuyDate,
#     groupArray(UserId) AS all_users  - группировка данных в Group By(при группировке собрать все значения, которы попали в эту
#                                       самую группировку. Т.е все UserId, которые совершали покупки в этот день -BuyDate)
# FROM check
# WHERE Rub >1000
# Group By BuyDate


# SELECT geoDistans(dolgota1, shorota1, dolgota2, shorota2)  - работа с геоданными
# SELECT greatCircleDistans(dolgota1, shorota1, dolgota2, shorota2) - работа с геоданными


#объявляем параметры подключения clickhouse к jupiter
#   connection = dict(database='test',
#                   host='https://clickhouse.lab.karpov.courses',
#                   user='student-rw',
#                   password='656e2b0c9c')