In [1]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np

req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [2]:
ss = df.query('gender == "male"')
ss = ss['users']
ss

1    117
Name: users, dtype: int64

In [3]:

d = df['users'].sum()
p =ss/(d/100)
round(p,0)

1    41.0
Name: users, dtype: float64

In [4]:
df_2 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/7_browser.csv')

In [5]:
df_2['Chrome'] = df_2['browser'].str.contains('Chrome')
df_2

          date           browser user_type  users  Chrome
0   2020-06-14     Google Chrome    People    139    True
1   2020-06-14     Chrome Mobile    People     35    True
2   2020-06-14     Google Chrome    Robots     28    True
3   2020-06-14    Yandex Browser    People     22   False
4   2020-06-14           Firefox    People     15   False
5   2020-06-14            Safari    People     13   False
6   2020-06-14           Firefox    Robots      8   False
7   2020-06-14   Android Browser    People      8   False
8   2020-06-14             Opera    People      5   False
9   2020-06-14     Mobile Safari    People      5   False
10  2020-06-14  Samsung Internet    People      5   False
11  2020-06-14            Safari    Robots      2   False
12  2020-06-14             UCWEB    Robots      2   False
13  2020-06-14              Edge    Robots      2   False
14  2020-06-14             Opera    Robots      1   False
15  2020-06-14             UCWEB    People      1   False
16  2020-06-14    Firefox Mobile    People      1   False
17  2020-06-14    Yandex Browser    Robots      1   False
18  2020-06-14   Android Browser    Robots      1   False
19  2020-06-14     Chrome Mobile    Robots      1    True
20  2020-06-14          Chromium    People      1   False
21  2020-06-14          Chromium    Robots      1   False
22  2020-06-14              Edge    People      1   False
23  2020-06-14            CocCoc    People      1   False

In [6]:
df_chr_rob = df_2.query('Chrome == True & user_type == "Robots"')

df_chr_rob

          date        browser user_type  users  Chrome
2   2020-06-14  Google Chrome    Robots     28    True
19  2020-06-14  Chrome Mobile    Robots      1    True

In [7]:
np.where((df_2.Chrome == True) & (df_2.user_type == 'Robots'),1, 0)

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0])

In [8]:
df_3 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/sample_ads.csv')
df_3

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [9]:
not_nan_count = df_3.click_type.notna().sum()
not_nan_count

11

In [10]:
lst = [1, 4, 5, 'ww',7, 'ff']
new_list = []
for i in lst:
    try:
        
           new_list.append(int(i))

    except:
        print('неудача -'+ i)

неудача -ww
неудача -ff

In [19]:
import requests
import json
from urllib.parse import urlencode


token = '7196645583:AAG7fUM-mwUD1hdEnYsajymH4VeaBibQcNg'
chat_id = 369838296  # your chat id

message = 'Salam aleikym Nazzz!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)