In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-rom-fadeev/5_data.csv.zip'

In [3]:
retail = pd.read_csv(path_to_file, encoding='ISO-8859-1', compression='zip')

In [4]:
retail_columns = retail.columns
# [column for column in retail]

In [5]:
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
all_retail = retail.shape[0]

In [7]:
all_retail

541909

In [8]:
dupl_retail = retail.drop_duplicates().shape[0]

In [9]:
dupl_retail

536641

In [10]:
all_retail - dupl_retail

5268

In [11]:
retail = retail.drop_duplicates()

In [12]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
cancel_zak = retail.InvoiceNo.str.startswith('C').sum()

In [14]:
cancel_zak

9251

In [15]:
quantity_not_nul = retail.query('Quantity > 0').shape
#     .groupby(['CustomerID'])
#     .agg({'CustomerID' : 'count'})

In [16]:
quantity_not_nul

(526054, 8)

In [17]:
# _______________â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–â„–

In [18]:
customer_from_germany = retail.query('Country == "Germany"')\
    .groupby(['CustomerID'], as_index=False)\
    .agg({'InvoiceNo' : 'nunique'})\
    .sort_values('InvoiceNo', ascending=False)

In [19]:
customer_from_germany

    CustomerID  InvoiceNo
3      12471.0         49
37     12569.0         35
6      12474.0         30
84     12720.0         29
80     12709.0         26
..         ...        ...
54     12622.0          1
55     12623.0          1
63     12644.0          1
66     12648.0          1
47     12605.0          1

[95 rows x 2 columns]

In [20]:
proc = customer_from_germany['InvoiceNo'].quantile(0.8)

In [21]:
f_top = customer_from_germany.query('InvoiceNo > @proc')\
#     .groupby('CustomerID', as_index=False)\
#     .agg({'InvoiceNo' : 'count'})

In [22]:
f_top

    CustomerID  InvoiceNo
3      12471.0         49
37     12569.0         35
6      12474.0         30
84     12720.0         29
80     12709.0         26
53     12621.0         23
8      12476.0         20
82     12712.0         17
79     12708.0         16
78     12705.0         14
16     12500.0         13
4      12472.0         13
57     12626.0         13
52     12619.0         13
65     12647.0         13
70     12662.0         12
44     12600.0         11
12     12481.0         11

In [23]:
germany_top = f_top['CustomerID']

In [24]:
germany_top

3     12471.0
37    12569.0
6     12474.0
84    12720.0
80    12709.0
53    12621.0
8     12476.0
82    12712.0
79    12708.0
78    12705.0
16    12500.0
4     12472.0
57    12626.0
52    12619.0
65    12647.0
70    12662.0
44    12600.0
12    12481.0
Name: CustomerID, dtype: float64

In [25]:
# ________________________""""""""""""""""""""""""""""""""""""""""""""""""""""""""""_______________________________

In [26]:
top_retail_germany = retail.query('CustomerID in @germany_top')

In [27]:
# ________________________""""""""""""""""""""""""""""""""""""""""""""""""""""""""""_______________________________

In [32]:
top_retail_germany.groupby(['StockCode'], as_index=False)\
    .agg({'Quantity' : 'count'})\
    .sort_values('Quantity',ascending = False)

     StockCode  Quantity
1167      POST       219
409      22326        62
452      22423        55
411      22328        45
474      22467        37
...        ...       ...
743      23008         1
739      22999         1
44       20717         1
333      22119         1
656      22821         1

[1168 rows x 2 columns]

In [33]:
# ________________________""""""""""""""""""""""""""""""""""""""""""""""""""""""""""_______________________________

In [37]:
retail['Revenue'] = retail['Quantity'] * retail['UnitPrice']

In [38]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [ ]:
# ________________________""""""""""""""""""""""""""""""""""""""""""""""""""""""""""_______________________________b

In [46]:
top_5 = retail.groupby(['InvoiceNo'], as_index=False)\
    .agg({'Revenue' : 'sum'})\
    .sort_values('Revenue', ascending = False)

In [47]:
top_5

      InvoiceNo    Revenue
22025    581483  168469.60
2303     541431   77183.60
18776    574941   52940.94
19468    576365   50653.91
9741     556444   38970.00
...         ...        ...
25817   C580605  -17836.46
23338   C550456  -22998.40
23854   C556445  -38970.00
22510   C541433  -77183.60
25895   C581484 -168469.60

[25900 rows x 2 columns]

In [54]:
list_top5 = top_5['InvoiceNo'].tolist()

In [59]:
list_top5[:5]

['581483', '541431', '574941', '576365', '556444']